In [1]:
import pandas as pd

In [2]:
data_1 = {"Nombre": ['Ana','Juan','Luisa'],
          "Edad": [24,28,23],
          "Ciudad": ['Saltillo','Monterrey','Celaya']}

In [3]:
df = pd.DataFrame(data_1)

In [4]:
print(df)

  Nombre  Edad     Ciudad
0    Ana    24   Saltillo
1   Juan    28  Monterrey
2  Luisa    23     Celaya

In [5]:
print(df.describe()) # descripci√≥n de estadisticas

            Edad
count   3.000000
mean   25.000000
std     2.645751
min    23.000000
25%    23.500000
50%    24.000000
75%    26.000000
max    28.000000

In [5]:
# Ver el tipo de datos de las columnas 
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nombre  3 non-null      object
 1   Edad    3 non-null      int64
 2   Ciudad  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes
None

In [6]:
df.fillna(0, inplace=True)  # Rellena los valores nulos con 0

In [7]:
print(df)

  Nombre  Edad     Ciudad
0    Ana    24   Saltillo
1   Juan    28  Monterrey
2  Luisa    23     Celaya

In [8]:
data_2 = {"Nombre": ['Rey','Laura','Pedro'],
          "Edad": [24,28,23],
          "Ciudad": ['Saltillo','Monterrey','Celaya'],
          "Telefono": ['7123345567','',''],
          "Puesto": ['Jefe','','']}

In [10]:
df_2 = pd.DataFrame(data_2)

In [11]:
print(df_2)

  Nombre  Edad     Ciudad    Telefono Puesto
0    Rey    24   Saltillo  7123345567   Jefe
1  Laura    28  Monterrey
2  Pedro    23     Celaya

In [12]:
df_2.fillna(0, inplace=True)  # Rellena los valores nulos con 0

In [13]:
print(df_2)

  Nombre  Edad     Ciudad    Telefono Puesto
0    Rey    24   Saltillo  7123345567   Jefe
1  Laura    28  Monterrey
2  Pedro    23     Celaya

In [17]:
df_json = pd.read_json("index.json")

In [18]:
print(df_json)

  nombre  edad     ciudad
0   Juan    30     Madrid
1    Ana    25  Barcelona
2   Luis    35    Sevilla

In [19]:
df_empleados = pd.read_json("empleados.json")

In [20]:
print(df_empleados)

                                            personas
0  {'nombre': 'Juan', 'edad': 30, 'ciudad': 'Madr...
1  {'nombre': 'Ana', 'edad': 25, 'ciudad': 'Barce...
2  {'nombre': 'Luis', 'edad': 35, 'ciudad': 'Sevi...